<table class="table table-hover">

    <thead>
        <tr>
        <th>#</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>

        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let pais of countries; let i=index">
            <th>{{i+1}}</th>
            <th>
                <img class="small-flag" width="40px" height="20px" [src]="pais.flag">
            </th>
            <th>{{pais.name}}</th>
            <th>{{pais.capital}}</th>
            <th>{{pais.population | number}}</th>
            <th><a [routerLink]="['/pais',pais.alpha2Code]">ver más...</a></th>

        </tr>

    </tbody>

</table>